In [119]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report
from sklearn import metrics

import warnings
warnings.filterwarnings('ignore')

# Speaker Accent Recognition

In [122]:
speaker_ds = pd.read_csv('./datasets/accent-mfcc-data-1.csv')
speaker_ds.isnull().sum().sum()
print(speaker_ds.columns)
print(speaker_ds.dtypes)
speaker_ds

Index(['language', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10',
       'X11', 'X12'],
      dtype='object')
language     object
X1          float64
X2          float64
X3          float64
X4          float64
X5          float64
X6          float64
X7          float64
X8          float64
X9          float64
X10         float64
X11         float64
X12         float64
dtype: object

,language,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12
0,ES,7.071476,-6.512900,7.650800,11.150783,-7.657312,12.484021,-11.709772,3.426596,1.462715,-2.812753,0.866538,-5.244274
1,ES,10.982967,-5.157445,3.952060,11.529381,-7.638047,12.136098,-12.036247,3.491943,0.595441,-4.508811,2.332147,-6.221857
2,ES,7.827108,-5.477472,7.816257,9.187592,-7.172511,11.715299,-13.847214,4.574075,-1.687559,-7.204041,-0.011847,-6.463144
3,ES,6.744083,-5.688920,6.546789,9.000183,-6.924963,11.710766,-12.374388,6.169879,-0.544747,-6.019237,1.358559,-6.356441
4,ES,5.836843,-5.326557,7.472265,8.847440,-6.773244,12.677218,-12.315061,4.416344,0.193500,-3.644812,2.151239,-6.816310
...,...,...,...,...,...,...,...,...,...,...,...,...,...
324,US,-0.525273,-3.868338,3.548304,1.496249,3.490753,5.849887,-7.747027,9.738836,-11.754543,7.129909,0.209947,-1.946914
325,US,-2.094001,-1.073113,1.217397,-0.550790,2.666547,7.449942,-6.418064,10.907098,-11.134323,6.728373,2.461446,-0.026113
326,US,2.116909,-4.441482,5.350392,3.675396,2.715876,3.682670,-4.500850,11.798565,-12.031005,7.566142,-0.606010,-2.245129
327,US,0.299616,0.324844,3.299919,2.044040,3.634828,6.693840,-5.676224,12.000518,-11.912901,4.664406,1.197789,-2.230275
328,US,3.214254,-3.135152,1.122691,4.712444,5.926518,6.915566,-5.799727,10.858532,-11.659845,10.605734,0.349482,-5.983281

In [123]:
X = speaker_ds.drop(['language'], axis=1)
y = speaker_ds['language']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

### KNN

In [124]:
reg_knn = KNeighborsClassifier()
reg_knn.fit(X_train, y_train)
print(cross_val_score(reg_knn, X, y, cv=10).mean())

0.7539772727272729

### Logistic Regression

In [125]:
reg_log = LogisticRegression()
# reg_log.fit(X_train, y_train)
print(cross_val_score(reg_log, X, y, cv=10).mean())

0.6324810606060607

### Naive Bayes

In [126]:
reg_rf = GaussianNB()
reg_rf.fit(X_train, y_train)
print(cross_val_score(reg_rf, X, y, cv=10).mean())

0.5505681818181818

### SVM

In [127]:
reg_svc = SVC(kernel='linear')
reg_svc.fit(X_train, y_train)
print(cross_val_score(reg_svc, X, y, cv=10, scoring='accuracy').mean())

0.659469696969697

# Algerian Forest Fires

In [35]:
type_dict = {'day': 'int64',
             'month': 'int64', 'year': 'int64', 
             'Temperature': 'int64', 'RH':'int64', 
             'Ws':'int64', 'Rain':'float64', 'FFMC':'float64',
             'DMC':'float64', 'DC':'float64', 'ISI':'float64', 
             'BUI':'float64', 'FWI':'float64', 'Classes':'category'}
algerian_ds = pd.read_csv('./datasets/Algerian_forest_fires.csv', dtype=type_dict, delimiter=',')
algerian_ds

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,26,9,2012,30,65,14,0.0,85.4,16.0,44.5,4.5,16.9,6.5,fire
240,27,9,2012,28,87,15,4.4,41.1,6.5,8.0,0.1,6.2,0.0,not fire
241,28,9,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire
242,29,9,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire
243,30,9,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire

In [59]:
algerian_ds.isnull().sum().sum()
print(algerian_ds.columns)
print(algerian_ds.dtypes)

Index(['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes'],
      dtype='object')
day               int64
month             int64
year              int64
Temperature       int64
RH                int64
Ws                int64
Rain            float64
FFMC            float64
DMC             float64
DC              float64
ISI             float64
BUI             float64
FWI             float64
Classes        category
dtype: object

In [38]:
X = algerian_ds.drop(['Classes'], axis=1)
y = algerian_ds['Classes']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

## KNN

In [49]:
from sklearn.neighbors import KNeighborsClassifier

In [50]:
reg_knn = KNeighborsClassifier()
reg_knn.fit(X_train, y_train)
print(cross_val_score(reg_knn, X, y, cv=10).mean())

0.8083333333333332

## Logistic Regression

In [51]:
from sklearn.linear_model import LogisticRegression

In [53]:
reg_log = LogisticRegression()
# reg_log.fit(X_train, y_train)
print(cross_val_score(reg_log, X, y, cv=10).mean())

0.8781666666666667

## SVC

In [54]:
from sklearn.svm import SVC

In [55]:
reg_svc = SVC(kernel='linear')
reg_svc.fit(X_train, y_train)
print(cross_val_score(reg_svc, X, y, cv=10, scoring='accuracy').mean())

0.8493333333333333

## Naive Bayes

In [56]:
from sklearn.naive_bayes import GaussianNB

In [57]:
reg_rf = GaussianNB()
reg_rf.fit(X_train, y_train)
print(cross_val_score(reg_rf, X, y, cv=10).mean())

0.7539999999999999

## Banknote Authentication

In [65]:
banknote_ds = pd.read_csv('./datasets/banknote-authentication.csv')
banknote_ds.isnull().sum().sum()
print(banknote_ds.columns)
print(banknote_ds.dtypes)

X = banknote_ds.drop(['Class'], axis=1)
y = banknote_ds['Class']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

Index(['V1', 'V2', 'V3', 'V4', 'Class'], dtype='object')
V1       float64
V2       float64
V3       float64
V4       float64
Class      int64
dtype: object

### KNN

In [71]:
reg_knn = KNeighborsClassifier()
reg_knn.fit(X_train, y_train)
print(cross_val_score(reg_knn, X, y, cv=10).mean())

1.0

### Logistic Regression

In [73]:
reg_log = LogisticRegression()
# reg_log.fit(X_train, y_train)
print(cross_val_score(reg_log, X, y, cv=10).mean())

0.9897968898762297

### Naive Bayes

In [74]:
reg_rf = GaussianNB()
reg_rf.fit(X_train, y_train)
print(cross_val_score(reg_rf, X, y, cv=10).mean())

0.8410769068020736

### SVM

In [75]:
reg_svc = SVC(kernel='linear')
reg_svc.fit(X_train, y_train)
print(cross_val_score(reg_svc, X, y, cv=10, scoring='accuracy').mean())

0.9876071088543318

# User Knowledge Modeling

In [78]:
user_knowledge_ds = pd.read_csv('./datasets/user_knowledge.csv')
user_knowledge_ds.isnull().sum().sum()
print(user_knowledge_ds.columns)
print(user_knowledge_ds.dtypes)

X = user_knowledge_ds.drop(['UNS'], axis=1)
y = user_knowledge_ds['UNS']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

Index(['STG', 'SCG', 'STR', 'LPR', 'PEG', 'UNS'], dtype='object')
STG    float64
SCG    float64
STR    float64
LPR    float64
PEG    float64
UNS     object
dtype: object

### KNN

In [79]:
reg_knn = KNeighborsClassifier()
reg_knn.fit(X_train, y_train)
print(cross_val_score(reg_knn, X, y, cv=10).mean())

0.8292073170731709

### Logistic Regression

In [80]:
reg_log = LogisticRegression()
# reg_log.fit(X_train, y_train)
print(cross_val_score(reg_log, X, y, cv=10).mean())

0.7916463414634147

### Naive Bayes

In [81]:
reg_rf = GaussianNB()
reg_rf.fit(X_train, y_train)
print(cross_val_score(reg_rf, X, y, cv=10).mean())

0.8365243902439025

### SVM

In [82]:
reg_svc = SVC(kernel='linear')
reg_svc.fit(X_train, y_train)
print(cross_val_score(reg_svc, X, y, cv=10, scoring='accuracy').mean())

0.8462804878048781

# Wine Quality

In [84]:
wine_ds = pd.read_csv('./datasets/winequality-red.csv', sep=";")
wine_ds.isnull().sum().sum()
print(wine_ds.columns)
print(wine_ds.dtypes)

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')
fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [85]:
X = wine_ds.drop(['quality'], axis=1)
y = wine_ds['quality']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

### KNN

In [86]:
reg_knn = KNeighborsClassifier()
reg_knn.fit(X_train, y_train)
print(cross_val_score(reg_knn, X, y, cv=10).mean())

0.4459080188679246

### Logistic Regression

In [87]:
reg_log = LogisticRegression()
# reg_log.fit(X_train, y_train)
print(cross_val_score(reg_log, X, y, cv=10).mean())

0.5791037735849056

### Naive Bayes

In [88]:
reg_rf = GaussianNB()
reg_rf.fit(X_train, y_train)
print(cross_val_score(reg_rf, X, y, cv=10).mean())

0.544744496855346

### SVM

In [89]:
reg_svc = SVC(kernel='linear')
reg_svc.fit(X_train, y_train)
print(cross_val_score(reg_svc, X, y, cv=10, scoring='accuracy').mean())

0.5803616352201257

# Somerville Happiness Survey

In [105]:
somerville_ds = pd.read_csv("https://raw.githubusercontent.com/SahilSinhaLpu/Machine-Learning/master/Datasets/SomvervilleHappines.csv")
print(somerville_ds.columns)
print(somerville_ds.dtypes)
somerville_ds

Index(['D', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6'], dtype='object')
D     int64
X1    int64
X2    int64
X3    int64
X4    int64
X5    int64
X6    int64
dtype: object

     D  X1  X2  X3  X4  X5  X6
0    0   3   3   3   4   2   4
1    0   3   2   3   5   4   3
2    1   5   3   3   3   3   5
3    0   5   4   3   3   3   5
4    0   5   4   3   3   3   5
..  ..  ..  ..  ..  ..  ..  ..
138  0   5   3   3   1   3   5
139  1   5   2   3   4   2   5
140  1   5   3   3   4   4   5
141  0   4   3   3   4   4   5
142  0   5   3   2   5   5   5

[143 rows x 7 columns]

In [106]:
X = somerville_ds.drop(['D'], axis=1)
y = somerville_ds['D']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

### KNN

In [107]:
reg_knn = KNeighborsClassifier()
reg_knn.fit(X_train, y_train)
print(cross_val_score(reg_knn, X, y, cv=10).mean())

0.49190476190476196

### Logistic Regression

In [108]:
reg_log = LogisticRegression()
# reg_log.fit(X_train, y_train)
print(cross_val_score(reg_log, X, y, cv=10).mean())

0.5619047619047619

### Naive Bayes

In [109]:
reg_rf = GaussianNB()
reg_rf.fit(X_train, y_train)
print(cross_val_score(reg_rf, X, y, cv=10).mean())

0.5852380952380953

### SVM

In [110]:
reg_svc = SVC(kernel='linear')
reg_svc.fit(X_train, y_train)
print(cross_val_score(reg_svc, X, y, cv=10, scoring='accuracy').mean())

0.6023809523809524

# Pima Indians Diabetes

In [112]:
pima_ds = pd.read_csv('./datasets/diabetes.csv')
pima_ds.isnull().sum().sum()
print(pima_ds.columns)
print(pima_ds.dtypes)
pima_ds

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')
Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [113]:
X = pima_ds.drop(['Outcome'], axis=1)
y = pima_ds['Outcome']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

### KNN

In [115]:
reg_knn = KNeighborsClassifier()
reg_knn.fit(X_train, y_train)
print(cross_val_score(reg_knn, X, y, cv=10).mean())

0.7213773069036227

### Logistic Regression

In [116]:
reg_log = LogisticRegression()
# reg_log.fit(X_train, y_train)
print(cross_val_score(reg_log, X, y, cv=10).mean())

0.7734791524265209

### Naive Bayes

In [117]:
reg_rf = GaussianNB()
reg_rf.fit(X_train, y_train)
print(cross_val_score(reg_rf, X, y, cv=10).mean())

0.7564935064935066

### SVM

In [118]:
reg_svc = SVC(kernel='linear')
reg_svc.fit(X_train, y_train)
print(cross_val_score(reg_svc, X, y, cv=10, scoring='accuracy').mean())

0.7669685577580314